LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# TTS, STT PROVIDERS (ANY ONE)
CARTESIA_API_KEY=
DEEPGRAM_API_KEY=

# LLM PROVIDERS (ANY ONE)
MISTRALAI_API_KEY=
GROQ_API_KEY=
CEREBRAS_API_KEY=


IS_TTS_ENABLED=true
IS_STT_ENABLED=true

PARALLEL_TOOL_CALLS=
TOOL_CHOICE=
TEMPERATURE=